@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\ea90";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-twitter:before {
  content: "\ea96";
}

._icon-linkedin:before {
  content: "\eaca";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 100;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.284);
}
@media (min-width: 75em) {
  .header {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .header {
      padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }
}
@media (min-width: 75em) {
  .header {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.625rem;
  }
}
.header__container {
  max-width: 102.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 75em) {
  .header__container {
    gap: 6.25rem;
  }
}
@media (min-width: 50em) and (max-width: 75em) {
  @supports (gap: clamp( 1.875rem , -6.875rem  +  17.5vw , 6.25rem )) {
    .header__container {
      gap: clamp( 1.875rem , -6.875rem  +  17.5vw , 6.25rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , -6.875rem  +  17.5vw , 6.25rem )) {
    .header__container {
      gap: calc(1.875rem + 4.375 * (100vw - 50rem) / 25);
    }
  }
}
@media (max-width: 50em) {
  .header__container {
    gap: 1.875rem;
  }
}
.header__logo {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.5rem;
}
.header__link {
  font-size: 1.25rem;
  padding: 1.25rem 2.1875rem;
  border-radius: 2.5rem;
  border: 0.0625rem solid white;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  z-index: 20;
}
.header__link:hover {
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 0.625rem 1.25rem rgba(255, 255, 255, 0.3);
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}