@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	min-height: 100%;
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}

.header {
	color: #fff;
	@include adaptiveValue("padding-top", 25, 10);
	@include adaptiveValue("padding-bottom", 25, 10);
	width: 100%;
	position: relative;
	z-index: 100;
	border-bottom: toRem(1) solid rgba(255, 255, 255, 0.284);

	// .header__container

	&__container {
		max-width: toRem(1640);
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 100, 30, $widthTo: 800);
		justify-content: space-between;
	}

	// .header__logo

	&__logo {
		z-index: 20;
		display: flex;
		align-items: center;
		flex: 1;
		font-size: toRem(40);
	}

	// .header__link

	&__link {
		font-size: toRem(20);
		padding: toRem(20) toRem(35);
		border-radius: toRem(40);
		border: toRem(1) solid white;
		transition: box-shadow 0.3s ease;
		z-index: 20;
		&:hover {
			box-shadow: 0 toRem(10) toRem(20) rgba(255, 255, 255, 0.3);
		}
	}
}

.hero {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	&__content {
		position: relative;
		z-index: 1;
		color: #fff;
	}
}
