@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Rubik";
}
.wrapper {
	min-height: 100%;
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}
.announcement {
	z-index: 10;
	max-width: 100%;
	text-align: center;
	color: #fff;
	background-color: #121e13;
	padding: toRem(10) toRem(15);
	font-weight: 500;
	line-height: 1.2;
	display: flex;
	text-align: center;
	align-items: center;
	gap: toRem(10);
	font-size: toRem(14);
	height: auto;
	overflow: hidden;
	transition: all 0.3s ease;
	@media (max-width: toEm(480)) {
		font-size: toRem(12);
	}
	&.hidden {
		height: 0;
		opacity: 0;
		padding: 0;
		margin: 0;
		visibility: hidden;
	}
	p {
		flex-grow: 1;
		a {
			color: #abfbfb;
			text-decoration: underline;
			text-underline-offset: toRem(5);
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__btn {
		align-self: flex-start;
		flex-shrink: 0;
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		img {
			width: toRem(25);
			height: toRem(25);
			will-change: transform;
			transition: transform 0.3s;
		}
	}
}
.header {
	color: #fff;
	@include adaptiveValue("padding-top", 25, 15);
	@include adaptiveValue("padding-bottom", 25, 10);
	width: 100%;
	z-index: 100;

	// .header__container

	&__container {
		max-width: toRem(1640);
		display: flex;
		align-items: center;
		gap: toRem(20);
		justify-content: space-between;
	}

	// .header__logo

	&__logo {
		z-index: 20;
		@include adaptiveValue("width", 237, 130);
		height: auto;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .header__link

	&__link {
		text-transform: capitalize;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
		padding: toRem(20) toRem(35);
		border-radius: toRem(40);
		border: toRem(1) solid white;
		transition: box-shadow 0.3s ease;
		z-index: 20;
		position: relative;
		overflow: hidden;
		flex-shrink: 0;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -150%;
			width: 200%;
			height: 300%;
			background: linear-gradient(120deg, transparent 30%, rgba(255, 255, 255, 0.638) 50%, transparent 70%);
			filter: blur(10px);
			transform: translateY(-50%) rotate(25deg);
			animation: slide-glow 3s linear infinite;
			opacity: 0;
			animation-delay: 1.2s;
		}

		@keyframes slide-glow {
			0% {
				left: -150%;
				opacity: 0;
			}
			50% {
				left: 50%;
				opacity: 0.6;
			}
			100% {
				left: 150%;
				opacity: 0.2;
			}
		}

		&:hover {
			box-shadow: 0 toRem(10) toRem(20) rgba(255, 255, 255, 0.3);
		}
		@media (max-width: toEm(767.98)) {
			padding: toRem(8) toRem(12);
		}
	}
}

.hero {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		aspect-ratio: 1 / 1;
		object-position: center top;
	}
	&__content {
		padding-top: toRem(100);
		padding-bottom: toRem(15);
		max-width: toRem(800);
		text-align: center;
		color: #fff;
	}
}
